<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sergey Zwezdin (sergey@zwezdin.com)</string>
	<key>Builder Version</key>
	<string>14607.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>Pixel Grid</string>
	<key>CFBundleIdentifier</key>
	<string>com.sergeyzwezdin.pixelgrid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>index.html</string>
				<key>Height</key>
				<integer>600</integer>
				<key>Identifier</key>
				<string>index</string>
				<key>Width</key>
				<integer>400</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>Main</string>
				<key>Image</key>
				<string>assets/pixelgrid-16-safari.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Pixel Grid</string>
				<key>Popover</key>
				<string>index</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>browser.js</string>
			</array>
		</dict>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://pixelgrid.zwezdin.com/</string>
</dict>
</plist>
